@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../assets/pokemongb-raeo.woff2') format('woff2'),
        url('../assets/pokemongb-raeo.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "pokemon_gbregular";
    background-color: rgb(189, 0, 25);
    color: black;
}

h1 {
    font-family: "pokemon_gbregular";
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 5%;
    font-size: 2.3vw;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #F8F9FA;
}

p {
    text-align: left;
    font-size: 2vw;
    padding-left: 5%;
    margin: 0;
}

.navbar, .navbar-light {
    background-color: red;
}

.pokemonImage {
    display: inline;
    scale: 3;
    float: left;
    padding-left: 5%;
    padding-top: 5%;
}

.pokemonName {
    text-align: center;
}

.close:hover {
    background: none;
}

.pokemonHeight {
    display: block;
    text-align: left;
    margin-left: 31%;
    padding: 0;
    font-size: 30px;

}

.pokemonWeight {
    display: block;
    text-align: left;
    margin-left: 31%;;
    padding: 0;
    font-size: 30px;
}

.modal-footer {
    padding: 0;
    border-top: none;
}

.modal-header {
    display: block;
}

nav.navbar {
    position: sticky;
    top: 0;
}

a.navbar-brand {
    margin-right: 0;

}

.pokedex-display {
    position:relative;
    background-color: white;
    border: 18px solid rgb(20, 20, 20);
    border-radius: 3%;
    text-align: center;
    margin-top: 1.5vh;
    width: 49vw;
    height: 49vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    padding: 0;
}

.pokedex-display::-webkit-scrollbar {
    display: none;
}
.pokemonbutton {
    margin: 10px auto;
    background: none;
    border: none;
    font-size: 2vw;
    color:rgb(20, 20, 20);
}

.pokemonbutton:hover {
    scale: 1.15;
}

.searchbutton:hover {
    scale: 1.15;
}
@media all and (max-width: 1480px) {
    .pokedex-display {
        height: 59vw;
        width: 59vw;
    }
}

@media all and (max-width: 1240px) {
    .pokedex-display {
        height: 65vw;
        width: 65vw;
    }
}

@media all and (max-width: 1120px) {
    .pokedex-display {
        height: 75vw;
        width: 75vw;
    }
    .pokemonbutton {
        font-size: 3vw;
    }

    p {
        font-size: 3vw;
    }

    h2 {
        font-size: 3.3vw;
    }
}

@media all and (max-width: 1040px) {
    .pokemonName {
        font-size: 25px;
    }

    .pokemonImage {
        scale: 2;
    }
    .pokemonHeight {
        font-size: 18px;
    }

    .pokemonWeight {
        font-size: 18px;
    }
}

@media all and (max-width: 975px) {
    .pokedex-display {
        height: 80vw;
        width: 80vw;
        margin-top: 6%;
    }
}

@media all and (max-width: 804px) {

    .pokedex-display {
        margin-top: 15%;
    }
    .searchinput {
        margin-left: 0;
        margin-right: 5px;
        width: 85%;
    }

    .search-wrapper {
        display: flex;
    }
    .mavbar-brand {
        display:block;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .pokemonbutton {
        font-size: 20px;
    }
}

@media all and (max-width: 560px) {
    .pokedex-display {
        width: 90vw;
        height: 90vw;
        margin-top: 35%;
        border: 10px solid black;
    }

    .searchinput {
        width: 200px;
        font-size: 12px;
    }

    .searchbutton {
        width:80px;
        font-size: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    .pokemonbutton {
        font-size: 15px;
        margin: 5px 0;
    }
}