@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../assets/pokemongb-raeo.woff2') format('woff2'),
        url('../assets/pokemongb-raeo.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "pokemon_gbregular";
    background-color: rgb(189, 0, 25);
    color: black;
}

h1 {
    font-family: "pokemon_gbregular";
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    text-align: left;
    font-size: xx-large;
    padding-left: 5%;
    margin: 0;
}

.navbar {
    background-color: whitesmoke;
}

.pokemonImage {
    display: block;
    scale: 3;
    float: left;
    padding-left: 5%;
    padding-top: 5%;
}

.pokemonName {
    text-align: center;
}

.pokemonHeight {
    display: block;
    text-align: left;
    margin-left: 37%;
    padding: 0;

}

.pokemonWeight {
    display: block;
    text-align: left;
    margin-left: 37%;;
    padding: 0;
}

.modal-footer {
    padding: 0;
    border-top: none;
}

.modal-header {
    display: block;
}

nav.navbar {
    position: sticky;
    top: 0;
}

a.navbar-brand {
    margin-right: 0;
}

.pokedex-display {
    position:relative;
    background-color: whitesmoke;
    border: 18px solid rgb(20, 20, 20);
    border-radius: 3%;
    text-align: center;
    margin-top: 3%;
    width: 45vw;
    height: 45vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    padding: 0;
}

.pokedex-display::-webkit-scrollbar {
    display: none;
}
.pokemonbutton {
    margin: 10px auto;
    background: none;
    border: none;
    font-size: xx-large;
    color:rgb(20, 20, 20);
}





